# Pandas Concepts #4/4

## Descriptive Statistics

Learn more in the documentation:

* [https://pandas.pydata.org/pandas-docs/stable/getting_started/intro_tutorials/06_calculate_statistics.html](https://pandas.pydata.org/pandas-docs/stable/getting_started/intro_tutorials/06_calculate_statistics.html)

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/huangjia2019/house/master/house.csv")

In [4]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [5]:
df.describe()['total_rooms']

count    17000.000000
mean      2643.664412
std       2179.947071
min          2.000000
25%       1462.000000
50%       2127.000000
75%       3151.250000
max      37937.000000
Name: total_rooms, dtype: float64

In [6]:
df.describe()['total_rooms']['mean']

2643.664411764706

In [7]:
df.describe()['total_rooms']['50%']

2127.0

In [8]:
df.describe()['total_rooms'][['min', 'max']]

min        2.0
max    37937.0
Name: total_rooms, dtype: float64

In [23]:
df[['total_rooms', 'housing_median_age']] \
    .describe().loc[['min','max'],:]

     total_rooms  housing_median_age
min          2.0                 1.0
max      37937.0                52.0

## Correlation

In [24]:
df[['total_rooms', 'housing_median_age']] \
    .corr()

                    total_rooms  housing_median_age
total_rooms            1.000000           -0.360984
housing_median_age    -0.360984            1.000000

## Mathematical Operations

In [26]:
df['total_rooms'] / 100

0        56.12
1        76.50
2         7.20
3        15.01
4        14.54
         ...
16995    22.17
16996    23.49
16997    26.77
16998    26.72
16999    18.20
Name: total_rooms, Length: 17000, dtype: float64

... and much more ...

Jump to the other tutorials:

* [./pandas_pt1_reading_data.ipynb](./pandas_pt1_reading_data.ipynb)
* [./pandas_pt2_dataframe_operations.ipynb](./pandas_pt2_dataframe_operations.ipynb)
* [./pandas_pt3_more_filtering.ipynb](./pandas_pt3_more_filtering.ipynb)